
<div class="abc">
<div class="header">
  <h1>Heliverse Internship Task by Kaushal</h1>
</div>

=
<div class="container">
  <div class="filters row justify-content-center">
    <div class="col-md-3 mb-2">
      <input type="text" class="form-control" placeholder="Search by Name" (input)="searchByName($event)">
    </div>
    
    <div class="col-md-3 mb-2">
      <select class="form-select" (change)="filterByDomain($event)">
        <option value="">All Domains</option>
        <option *ngFor="let domain of uniqueDomains" [value]="domain">{{ domain }}</option>
      </select>
    </div>
    
    <div class="col-md-3 mb-2">
      <select class="form-select" (change)="filterByGender($event)">
        <option value="">All Genders</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Agender">Agender</option>
      </select>
    </div>
    
    <div class="col-md-3 mb-2">
      <select class="form-select" (change)="filterByAvailability($event)">
        <option value="">All Availability</option>
        <option value="true">Available</option>
        <option value="false">Not Available</option>
      </select>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-4 mb-4" *ngFor="let card of getCurrentPageCards()">
          <div class="card">
            <img [src]="card.avatar" class="card-img-top" alt="Avatar">
            <div class="card-body">
              <h5 class="card-title">{{ card.first_name }} {{ card.last_name }}</h5>
              <p class="card-text">Email: {{ card.email }}</p>
              <p class="card-text">Domain: {{ card.domain }}</p>
              
              <p class="card-text">Available: {{ card.available ? 'Yes' : 'No' }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center mt-3">
        <button (click)="moveCards('backward')" [disabled]="startIndex === 0">Backward</button>
        <button (click)="moveCards('forward')" [disabled]="(startIndex + cardsPerPage) >= cardData.length">Forward</button>
      </div>
    </div>
  </div>
</div>
</div>