
  <div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-4 mb-4" *ngFor="let card of getCurrentPageCards()">
          <div class="card">
            <img [src]="card.avatar" class="card-img-top" alt="Avatar">
            <div class="card-body">
              <h5 class="card-title">{{ card.first_name }} {{ card.last_name }}</h5>
              <p class="card-text">Email: {{ card.email }}</p>
              <p class="card-text">Domain: {{ card.domain }}</p>
              <p class="card-text">Available: {{ card.available ? 'Yes' : 'No' }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center mt-3">
        <button (click)="moveCards('backward')" [disabled]="startIndex === 0">Backward</button>
        <button (click)="moveCards('forward')" [disabled]="(startIndex + 9) >= cardData.length">Forward</button>
      </div>
    </div>
  </div>
</div>
