/* Styles for the cards and layout
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;

  }
  .card-row {
    display: flex;
  }
  
  .small-card {
    width: 200px; 
  }
  
  .card-image {
    width: 50px; 
    height: 50px;
  }
   */
   .card {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .card-img-top {
    width: 50%;
    margin: 0 auto;
    display: block;
  }
  